@import "_variables.scss";

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 2.5rem 4rem;
  margin: 1rem auto;
  border-radius: 10rem;
  transition: all 0.25s;
  position: relative;
}

.btn {
  background-color: gold;
  color: black;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 7.5px 1rem black;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.25s;
}

.btn:active {
  transform: translateY(1px) scaleX(1.25) scaleY(1.25);
  box-shadow: 0 0.5rem 1rem black;
}
