@import "_variables.scss";

.foodparent {
  width: 60rem;
  height: 40rem;
}

.foodbox {
  margin: 3rem;
  position: relative;
}

.food {
  position: absolute;
  height: 20rem;
  outline-offset: 1rem;
  transition: all 0.25s;
}

.food:hover {
  transform: scale(1.25);
  box-shadow: 0 1rem 1rem #282828;
  outline: 0.5rem solid gold;
  z-index: 2;
}

.foodbox:hover .food:not(:hover) {
  transform: scale(0.8);
  opacity: 0.5;
}

.food1 {
  top: 17.5rem;
  left: 15%;
}

.food2 {
  top: 5rem;
  right: 1rem;
  width: 30rem;
}

.food3 {
  top: 3rem;
  left: 0;
}
