@import "_variables.scss";

.space {
  height: 20rem;
  position: relative;
}

.stars {
  height: 20rem;
  clip-path: circle();
  transition: all 0.25s;
}

.letter {
  font-size: 3rem;
  text-transform: uppercase;
  position: absolute;
  opacity: 0;
  color: #fff;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
}

.space:hover {
  .stars {
    filter: grayscale(90%);
  }
  .letter {
    opacity: 1;
    top: 40%;
  }
}
