html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 150vh;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 150vh;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 2.5rem 4rem;
  margin: 1rem auto;
  border-radius: 10rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
}

.btn {
  background-color: gold;
  color: black;
}

.btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 7.5px 1rem black;
          box-shadow: 0 7.5px 1rem black;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn:active {
  -webkit-transform: translateY(1px) scaleX(1.25) scaleY(1.25);
          transform: translateY(1px) scaleX(1.25) scaleY(1.25);
  -webkit-box-shadow: 0 0.5rem 1rem black;
          box-shadow: 0 0.5rem 1rem black;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 150vh;
}

.flower {
  height: 20vh;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  border-radius: 50%;
}

.flower:hover {
  border-radius: 0;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 150vh;
}

.text {
  text-transform: uppercase;
  font-size: 5rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.text:hover {
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
  letter-spacing: 2rem;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 150vh;
}

.foodparent {
  width: 60rem;
  height: 40rem;
}

.foodbox {
  margin: 3rem;
  position: relative;
}

.food {
  position: absolute;
  height: 20rem;
  outline-offset: 1rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.food:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-box-shadow: 0 1rem 1rem #282828;
          box-shadow: 0 1rem 1rem #282828;
  outline: 0.5rem solid gold;
  z-index: 2;
}

.foodbox:hover .food:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.5;
}

.food1 {
  top: 17.5rem;
  left: 15%;
}

.food2 {
  top: 5rem;
  right: 1rem;
  width: 30rem;
}

.food3 {
  top: 3rem;
  left: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 150vh;
}

.space {
  height: 20rem;
  position: relative;
}

.stars {
  height: 20rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.letter {
  font-size: 3rem;
  text-transform: uppercase;
  position: absolute;
  opacity: 0;
  color: #fff;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.space:hover .stars {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.space:hover .letter {
  opacity: 1;
  top: 40%;
}

.container {
  width: 80vw;
  height: 150vh;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=style.css.map */