@import "_variables.scss";
@import "_btn.scss";
@import "_flower.scss";
@import "_text.scss";
@import "_food.scss";
@import "_space.scss";

.container {
  width: 80vw;
  height: 150vh;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
